# Windows desktop files
desktop.ini

#WebStorm
.idea

# Logs
logs
*.log
npm-debug.log*
npm-debug.log

# Node modules
node_modules

# Certificate files
src/config/keys/*.crt
src/config/keys/*.key

# Coverage folder
coverage/

# test DB
test/testDB.js